// Fuentes
$fuente_headings: 'Inter', sans-serif;
$fuente_textos: 'Open Sans', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$cyan: #0891B2;
$azul: #2563EB;
$indigo: #385aca;
$morado: #7C3AED;
$naranja:#F59E0B;
$rosa: #DB2777;

$blanco: #FFFFFF;
$gris: #6b7280;
$grisClaro: #f3f4f6;
$grisOscuro: #4B5563;
$negro: #000;

$rojo: rgb(169, 0, 0);
$verde: rgb(0, 120, 0);

$separacion: 5rem;

$claro1: #e1e1e1;
$claro2: #f6f6f6;
$color2: #202020;
$claro3: #c9c6c6;

$vistobueno: #a4e4f4;
$licencia: #8ab0db;
$giro: #61abfa;
$dictamen: #939ab7;
$simulacro:#bbfb9b;
$licencia: #8ab0db;
$capacitacion:#fba69b;
$programa:#e8f355;
$opinion: #71e6cc;
$tramite: #17b2f0;

$ver: #26b2ef;
$editar: #fd7711;
$elimina: red; 

$primario: #706b6d;
$secundario: #b4bfc0;
$terciario:  #999999;
$negro: #000;
$blanco: #FFFFFF;
$gris: #484349;
$grisClaro: #F2F2F2;
$primario2: #313131;