@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard{
    background-color: v.$grisClaro;

    @include m.tablet { 
        display: flex;
        height: 100vh;
     }

     .principal{
        flex: 1;
        overflow: scroll;
     }

     .contenido{
      padding: 2rem;
      .nombre-pagina{
         font-size: 2.8rem;
         text-align: center;
         font-weight: 700;
      }
     }

     .formulario{
      input:not([type="submit"]){
         background-color: v.$blanco;
      }
      input[type="submit"]{
         padding: 1rem;
         @include m.boton(v.$indigo, v.$blanco);
         text-transform: uppercase;
         font-weight: bold;
         font-size: 1.6rem;
      }
     }

     .enalce{
      color: v.$indigo;

      &:hover{
         color: darken(v.$indigo, 20%);
      }
     }
}